<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title> <%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body id="back" background="https://i.pinimg.com/originals/01/00/3a/01003af3cacf7f7eb9e643367a389b86.jpg">
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          <% for(i=0;i<navi.length;i++){%>

        <li>
          <a href="<%=navi[i].link%>"><%=navi[i].name%></a>
        </li>
        <%}%>
      </ul>
    </header>
      <div class="container-fluid">
  
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
          
            <div class="col-md-4 col-sm-4 col-xs-12">
       0
       
       
              <form id="log" method="POST" action="/edit/<%=book._id%>/update"> 
               
                 <h2>BOOK UPDATION </h2><br>
                
                <div class="form-group">
                  <label>Name of the Book</label>
                  <input type ="text" id="title" class="form-control" value="<%=book.title%>" name="title"><br> 
                  <span id="atitle_err"></span><br>  
                </div>
                <div class="form-group">
                  <label>Author of the Book</label>
                  <input type ="text"  id="author" class="form-control" value="<%=book.author%>" name="author"><br>
                  <span id="aname_err"></span><br>
                </div>
                <div class="form-group">
                  <label>Genre of the Book</label>
                  <input type ="text"  id="genre" class="form-control" value="<%=book.genre%>" name="genre"><br>   
                  <span id="agenre_err"></span><br>
                </div> 
                <div class="form-group">
                  <label>Add Image</label>
                <input type ="file" id="image" name="image"><br>
                <span id="aimg_err"></span><br><br>
                </div>
                <button id="submits" value="update">Add</button>
              </form>
            </div>
               
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
           
      </div>
     
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>